@{
    ViewData["Title"] = "Home Page";
}

<body>
    <nav class="navbar">
        <!-- LOGO -->
        <div class="logo"> <img src="https://cdn.huskynz.tech/logo/default.png" width="5%" height="5%"></img> </div>
    <div class="Maincontent">
        <h1>Welcome to HuskyNZ</h1>

        <p>
            What is HuskyNZ? It is a mash of diffrent things mainley beaing azure and hybrid focesed.
            This site is gen3 and will evole over time.
        </p>
        <p>
            This site will grow and evovle into a better one
            This website is a work in progress and is not yet complete.
        </p>
    </div>



</body>