@{
    ViewData["Title"] = "Home Page";
}

<body>
   
    <div class="Maincontent">
        <h1>Welcome to HuskyNZ</h1>

        <p>
          HuskyNZ provides support to bussnisess that run on the cloud.
        </p>
        <p>
           Thix is the main site, There is also <a href="https://huskynz.online">the HuskyNZ wiki</a>
        </p>
    </div>



</body>